@model IEnumerable<inviWebApp.Models.Propietario>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellidopaterno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellidomaterno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellidopaterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellidomaterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edad)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Curp">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Curp">Detailles</a> |
                <a asp-action="Delete" asp-route-id="@item.Curp">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
